*{
box-sizing:border-box;
}

body{
font-family:'Raleway', sans-serif;
font-size:100%;
color:#6E6E6E;
}

header,main,footer{
width:100%;
max-width:1000px;
margin:0 auto;
}

nav,.ploduct{
width:92%;
max-width:800px;
}

p,a,table{
font-size:75%;
}

/*** ヘッダー ***/
.header-wrapper{
margin:0 auto;
padding:5% 0 3% 0;
}

.header-logo{
text-align:center;
margin-bottom:3%;
}

.header-logo img{
max-width:100%;
width:109px;
}

nav{
display:flex;
justify-content:space-between;
white-space:nowrap;
overflow-x: scroll;
overflow-y: hidden;
margin:0 auto;
}

.gl-nav,.con-nav{
display:flex;
}

.gl-nav li,.con-nav li{
display:flex;
}

.gl-nav li{
margin-right:13px;
}

.con-nav li{
margin-left:13px;
}

/**** メイン ****/
.main-visual{

}

.main-visual img{
width:100%;

}

.ploduct{
margin:0 auto;
}
.plo-ex{
text-align:left;
}

.plo-ex h2{
color:black;
font-weight:bold;
padding:3% 0;
margin:1.5% 0 0 0;
border-top:1px solid #A4A4A4;
border-bottom:1px solid #A4A4A4;
}

.plo-text{
margin:4% 0 4% 0;
line-height:22px;
}

.plo-price{
margin-bottom:5%;
}
/*** 数選択テーブル ***/
.choice-number{
width:100%;
text-align:center;
margin-bottom:3%;
}

tr{
border-bottom:1px solid #c3c3c3;
height:auto;
line-height:38px;
}

td,th{

}

.last-tr{
border-bottom:none;
}

.choice-number th,.sizies{
width:20%;
}



.choice-number th,.size-table th{
text-align:center;
font-weight:normal;
}

.choice-number select{
width:94%;
appearance:auto;
border:solid 1px #c3c3c3 ;
height:15px;
padding:0 1% 0 1%;
font-size:11px;
color:#424242;
}

.sizies{
border-left:1px solid #c3c3c3;
border-right:1px solid #c3c3c3;
}

/*** ボタン ***/
.btn{
display:block;
color:white;
background-color:#4B4B4B;
width:100%;
height:45px;
line-height:45px;
text-align:center;
margin-bottom:4%;
}

/*** サイズテーブル ***/
.size-table{
width:100%;
}

.size-table,.size-table th,.size-table td{
border:1px solid #c3c3c3;
text-align:center;
}

.size-table th{
background-color:#ecebeb;
}

/*** フッター ***/
footer{
margin-top:13%;
margin-bottom:1%;
text-align:center;
font-size:10px;
}

