@media screen and (min-width:1025px){

.wrapper a{
display:block;
width:20%;
margin:0 auto;
margin-bottom:7%;
padding:0.3% 0.8%;
background-color:#E3E4AF;
color:#2B823A;
box-shadow: 5px 5px 5px rgba(0,0,0,0.3); 
}

.wrapper a:hover{
background-color:#C9BD5E;
transition:0.5s;
}
 
.none {
display:none}

/** pc **/

.pc{
display:flex;
}

.pc img{
width:60%;
}

.pc p{
margin:0 0 0 3% ;
line-height:2;
}

.pc p::before{
 content: none;
}

.pc p::first-letter{
font-size:163%;
font-weight:bold;
color:#638F5D;
}

}
