@media screen and (min-width:1025px){

 .wrapper a{
display:inline-block;
margin:1% 0 10% 0;
padding:1% 1%;
border-radius:8px;
border-bottom:2px solid #424242;
background-color:#AD9EDB;
color:#D6D285;
}

.wrapper a:hover{
background-color:rgba(14,14,117,0.6);
transition:0.5s;
}

/** pc **/

.pc{
display:flex;
}

.pc img{
width:60%;
}

.pc p{
margin:0 0 0 3% ;
line-height:2;
}

.pc p::before{
 content: none;
}

.pc p::first-letter{
font-size:163%;
font-weight:bold;
color:#08298A;
}

}
